//============
// Mixins
//============
//add overlay on element, between () is the color of the overlay
@mixin overlay($color, $opacity) {
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background: $color;
        opacity: $opacity;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

// add on element with equal width & height
@mixin square($size) {
    width: $size;
    height: $size;
}

//use for pseudo element
@mixin pseudo {
    content: "";
    position: absolute;
    display: block;
}

//use to troncate elements, meaning it will end the sentence or word with "..." if its too long
@mixin truncate($max-width) {
    max-width: $max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//BREAKPOINTS
@mixin for($size) {
    //under 480px
    @if $size==mobile-only {
        @media (max-width: 479px) {
            @content;
        }
        //over 481px
    }
    @else if $size==mobile {
        @media (min-width: 480px) {
            @content;
        }
        //under 767px
    }
    @else if $size==small-only {
        @media (max-width: 767px) {
            @content;
        }
        //over 768px
    }
    @else if $size==small {
        @media (min-width: 768px) {
            @content;
        }
        //under 991px
    }
    @else if $size==medium-only {
        @media (max-width: 991px) {
            @content;
        }
        //over 992px
    }
    @else if $size==medium {
        @media (min-width: 992px) {
            @content;
        }
        //over 1199px
    }
    @else if $size==large-only {
        @media (max-width: 1199px) {
            @content;
        }
        //over 1200px
    }
    @else if $size==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
}


/* change background page*/

@mixin subheading {
    font-size: 26px;
    color: #02000A;
    font-weight: bold;
}

@mixin btnlayout {
    background: #5B33F1;
    color: #EDE83A;
    font-size: 16px;
    border: 1px solid #5B33F1;
    padding: 10px 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    &:focus,
    &:hover,
    &:visited {
        outline: none;
        box-shadow: none!important;
    }
}

@mixin whitebtnlayout {
    background: $whitecolor;
    color: #5B33F1;
    font-size: 16px;
    border: 1px solid #5B33F1;
    padding: 10px 25px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    &:focus,
    &:hover,
    &:visited {
        outline: none;
        box-shadow: none!important;
    }
}

@mixin bluebtnlayout {
    border: 1px solid #5B33F1;
    color: #5B33F1;
    background: $boxbgcolor;
    font-size: 16px;
    padding: 12px;
    &:focus,
    &:hover,
    &:visited {
        outline: none;
        box-shadow: none!important;
    }
}

@mixin colorpickerdesign {
    .color-picker {
        label {
            span {
                color: #0F0E17;
            }
            input {
                -ms-transform: scale(1.9);
                -webkit-transform: scale(1.9);
                transform: scale(1.9);
                margin-right: 15px;
                border: 2px solid #E5E5E5;
                background: transparent;
                -webkit-appearance: none;
                padding: 5px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
            }
            input::-webkit-color-swatch {
                padding: 5px;
                border-radius: 50%;
                border: none;
            }
            input::-webkit-color-swatch-wrapper {
                border-radius: 10px;
                padding: 0;
                border: none;
            }
        }
    }
}

@mixin onoffbtn {
    .switch {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        .exp-btn {
            width: 60px;
            height: 34px;
            position: relative;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #B3ADC9;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                &.round {
                    border-radius: 34px;
                    &:before {
                        border-radius: 50%;
                    }
                }
            }
            input:checked+.slider {
                background-color: #DDD4FF;
            }
            input:focus+.slider {
                box-shadow: 0 0 1px #DDD4FF;
            }
            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
                background: #5B33F1;
            }
        }
    }
}